<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="./css/main.css"></style>
</head>

<div id="content">
  <section id="prompt">
    <p>
      Given the following array:
    </p>
    <%= @coder.array %>
    <p>
      How many numbers in this array are divisible by <b><%= @coder.divisor %></b>
    </p>
  </section>

  <section id="challenge">
    <form action="/save/<%= @coder.id %>" method="post">
      <div class="row text-center">
        <div class="col-xs-6 col-xs-offset-3">
          <input type="text" class="form-control" name="time" size="30" placeholder="0">
        </div>
      </div>
      <br />
      <div class="row text-center">
        <div class="col-xs-6 col-xs-offset-3">
          <input type="text" class="form-control" name="their_answer" size="30" placeholder="Your answer here">
        </div>
      </div>
      <br />
      <div class="row text-center">
        <div class="col-xs-6 col-xs-offset-3">
          <input class="btn btn-default" type="submit" value="Submit">
        </div>
      </div>
    </form>
  </section>
</div>

<script>
handler = function() {
  var time = document.getElementsByName('time')[0],
  hundredths = 0, seconds = 0, minutes = 0, hours = 0,
  t;

  function add() {
    seconds++;
    if (seconds >= 100) {
      seconds = 0;
      minutes++;
      if (minutes >= 60) {
        minutes = 0;
        hours++;
      }
    }

    time.value = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00")  + ":" + (seconds > 9 ? seconds : "0" + seconds) ;

    timer();
  }
  function timer() {
    t = setTimeout(add, 10);
  }
  timer();

}
$(document).ready(handler);
</script>
