<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="./css/main.css"></style>
</head>

<div id="content">
  <section id="top">

  </section>

  <section id="content">
    <div class="row">
      <div class="col-xs-12">
        <p>
          Solve the problem given the fastest here at Pycon 2015, and win a Fitbit Surge! But watch the clock when solving - you only have certain amount of time to complete the task.
        </p>
        <p>
          Winners will be choosen at the end of the conferene and notified via email.
        </p>
        <p>
          Best of luck!
        </p>
      </div>
    </div>
  </section>

  <section class="info">
    <form action="/coding_challenge" method="post">
      <div class="row text-center">
        <div class="col-xs-6 col-xs-offset-3">
          <input type="text" class="form-control" name="name" size="30" placeholder="Name">
        </div>
      </div>
      <br />
      <div class="row text-center">
        <div class="col-xs-6 col-xs-offset-3">
          <input type="text" class="form-control" name="email" size="30" placeholder="bob.stevens@example.com">
        </div>
      </div>
      <br />
      <div class="row text-center">
        <div class="col-xs-6 col-xs-offset-3">
          <input class="btn btn-default" type="submit" value="Start!">
        </div>
      </div>
    </form>
  </section>

</div>
